<?xml version="1.0"?>
<launch>
  <include file="$(find laserscan_filter)/launch/laserscan_filter.launch" />

  <node pkg="ar_pose_filter" type="ar_filter_node" name="ar_filter_node">
    <remap from="/tag_pose" to="/raspicam_node/aruco_single/pose"/>
  </node>

  <include file="$(find aruco_marker_finder)/launch/aruco_marker_finder.launch" />

  <include file="$(find tb_follower_srvcli)/launch/action_srvcli.launch" />

</launch>