<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro"/>
  <xacro:include filename="$(find raspicam_description)/urdf/raspicam.xacro" />
  
  <xacro:arg name="parent" default="base_footprint"/>
 

  <xacro:raspicam name="raspicam" parent="$(arg parent)">
    <origin xyz="-0.01 -0.01 0.01" rpy="0 0 -0.707"/>
  </xacro:raspicam>

</robot>
